{% extends "encyclopedia/layout.html" %}
{% block title %}
    edit_page
{% endblock title %}
{% block body %}
    <h1>Editing "{{ entry_title }}" Wiki</h1>
    <div class="alert alert-warning" role="alert">
        Content Sould Be Written In <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax"
    class="alert-link">Markdown</a>
    </div>
    <form action="add_page" method="post">
        {% csrf_token %}
        <input type="hidden" id="id_title" name="title" value="{{ entry_title }}" />
        <div class="mb-3">
            <textarea class="form-control" name="content" id="formTextArea">{{ entry_content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Edit Wiki</button>
    </form>
{% endblock body %}
