body {
    padding: 10px;
}

#emptyCategory {
    font-size: 1em;
}

div.col-md-12:nth-child(1) > div:nth-child(1) {
    margin-bottom: 30px;
}

.btn {
    margin-top: 10px;
}


button.btn.btn-info.btn-sm a {
    color: aliceblue;
}

/* FLOW TIMER CONTENT */
:root {
    --safe: #18bc9c;
    --warn: yellow;
    --danger: red;
}

.timer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 200px;
}

.timer .progress-container {
    width: 100%;
    border: 1px solid black;
    --height: 20px;
    height: var(--height);
}

.timer .progress {
    --color: var(--safe);
    --progress: 1;
    background-color: var(--color);
    width: 100%;
    height: var(--height);
    transform: scaleX(var(--progress));
    transform-origin: left;
    transition: transform 0.1s linear, background-color 0.1s linear;
}

